argon2==0.1.10
boto3==1.43.29
botocore==1.43.29
fastapi==0.141.1
pymupdf
langchain_google_genai
langgraph==1.2.10
pandas==3.0.5
Pillow==12.3.0
protobuf==7.35.1
pydantic==2.13.4
PyJWT==2.13.0
pytesseract==0.3.13
python-dotenv==1.2.2
redis==8.1.0
reportlab==5.0.0
SQLAlchemy==2.0.51
sympy==1.14.0
uvicorn
psycopg2